@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,400&display=swap");

.ReactCollapse--collapse {
  transition: height 350ms;
}

.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.h1 {
  @apply mt-5 border-l-2 pl-5 border-primary-100 dark:border-quaternary-400 scroll-m-20 text-[22px] font-semibold tracking-tight text-typography-100 dark:text-typography-800;
}

.h2 {
  @apply mt-5 text-xl tracking-tight transition-colors;
}

.p {
  @apply mt-5 text-sm font-[400]  max-sm:text-xs text-typography-100 dark:text-typography-800;
}

.li {
  @apply mt-5 text-sm font-[400] leading-3 max-sm:text-xs text-typography-100 dark:text-typography-800;
}

.a {
  @apply text-primary-300 dark:text-tertiary-400;
}

@layer base {
  code {
    @apply mt-10 border border-primary-400 rounded-md dark:shadow-sm dark:border-tertiary-300 bg-secondary-200 text-xs;
  }

  span {
    @apply text-xs;
  }
}

.tag-icon-nextjs {
  @apply p-1 bg-secondary-400 text-typography-100;
}

.tag-icon-postgre {
  @apply bg-[#e2e9ef] text-[#2596be] p-1;
}

.tag-icon-prisma {
  @apply bg-typography-100 text-secondary-400 p-1;
}

.tag-icon-tailwind {
  @apply bg-primary-400 text-primary-100 p-1;
}

.tag-icon-typescript {
  @apply bg-primary-200 text-typography-100 p-1;
}

.tag-icon-mongodb {
  @apply bg-green-600 text-typography-100 p-1;
}

.tag-icon-express {
  @apply bg-typography-600 text-typography-100 p-1;
}

.tag-icon-mongoose {
  @apply bg-typography-100 text-lime-800 p-1;
}
